USE [master]
GO
/****** Object:  Database [Task]    Script Date: 13-12-2025 11:59:46 ******/
CREATE DATABASE [Task]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Task', FILENAME = N'C:\Users\kunda\Task.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Task_log', FILENAME = N'C:\Users\kunda\Task_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task]
GO
/****** Object:  Table [dbo].[Tbl_Task]    Script Date: 13-12-2025 11:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NULL,
	[description] [varchar](max) NULL,
	[due_date] [datetime] NULL,
	[status] [int] NULL,
	[remarks] [varchar](max) NULL,
	[create_on] [datetime] NULL,
	[update_on] [datetime] NULL,
	[created_by] [varchar](200) NULL,
	[updated_by] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddTask]    Script Date: 13-12-2025 11:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddTask]
@title varchar(200),
@description varchar(max),
@due_date datetime,
@remarks varchar(max),
@created_by varchar(200)=null,
@updated_by varchar(200)=null
as
begin
insert into Tbl_Task(title,description,due_date,status,remarks,create_on,update_on,created_by,updated_by) 
values(@title,@description,@due_date,0,@remarks,GETDATE(),GETDATE(),@created_by,@updated_by)
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteTask]    Script Date: 13-12-2025 11:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteTask]
@id int
as
begin
delete from Tbl_Task where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[GetTask]    Script Date: 13-12-2025 11:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetTask]

as
begin
select * from Tbl_Task
end
GO
/****** Object:  StoredProcedure [dbo].[updateTask]    Script Date: 13-12-2025 11:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateTask]
@id int,
@title varchar(200),
@description varchar(max),
@due_date datetime,
@remarks varchar(max),
@created_by varchar(200)=null,
@updated_by varchar(200)=null
as
begin
update Tbl_Task set title=@title,description=@description,due_date=@due_date,remarks=@remarks,update_on=GETDATE(),updated_by=@updated_by where id=@id;

end
GO
USE [master]
GO
